# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# IDE
.vscode/
.idea/

# Data / Models
*.pt
*.onnx
*.engine
data/
runs/

# OS
.DS_Store
Thumbs.db
*.deb

# Env
.env
*.logmodel/


# 不小心 clone 進來的參考 repo
reference/
archive/

test.pythermal_dataset/
